@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

:root {
/* Cores Primárias */

---Cyan: hsl(179, 62%, 43%);
---BrightYellow: hsl(71, 73%, 54%);

/* Cores Secundárias */

---LightGray: hsl(204, 43%, 93%);
---GrayishBlue: hsl(218, 22%, 67%);

/* Fonte */

---fonte: 'Karla', sans-serif; /* weights: 400,700 */
}

/*
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
*/